{
    "Id": "Policy1429136655940",
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "allow-alb-to-write-access-logs",
            "Action": [
                "s3:PutObject"
            ],
            "Effect": "Allow",
            "Resource": "arn:aws:s3:::${bucket_name}/AWSLogs/*",
            "Principal": {
                "AWS": [
                    "${service_account}"
                ]
            }
        }
    ]
}
